# add files here which shall be ignored by git

# ignore autosave/backup files
*~
\#*\#

# ignore log files
*.log

# ignore EPICS stuff
O.*/
Makefile*
base*

#ignore unnecessary directory
/tests
/Tito/vlinac
#ignore adl backup
cbhv_BAK.adl
/Oli

#ignore files just made for testing and ohter things

Tito/count.txt
Tito/sender.py
