# add files here which shall be ignored by git

# ignore autosave/backup files
*~
\#*\#

# ignore log files
*.log

# ignore EPICS stuff
O.*/
Makefile*
base*

#ignore unnecessary directory
/tests
/Tito/vlinac
#ignore adl backup
cbhv_BAK.adl
/Oli
/Tito/CSS_EPICS_3.2.1
/Tito/textfiles

#ignore files just made for testing and ohter things

Tito/count.txt
Tito/cbhvtest_eememprint.txt
Tito/sender.py
Tito/epics_css_3.2.1-linux.gtk.x86.zip
calibcurves.txt
calibcurves2.txt
hvtest.txt
hvtest1.txt
hvtest2.txt
cbhvtest_element_voltage_list.txt
Tito/hvtest.txt
Tito/logfile.txt
Tito/box_10_rate_2_started_13-30-7_24.9.2013.txt
Tito/box_10_rate_2_started_13-31-37_24.9.2013.txt
Tito/box_10_rate_2_started_15-13-18_19.9.2013.txt
Tito/box_10_rate_2_started_16-11-48_18.9.2013.txt
Tito/box_10_rate_2_started_19-20-0_26.9.2013.txt
Tito/box_13_rate_2_started_13-35-21_24.9.2013.txt
Tito/box_13_rate_2_started_15-14-51_19.9.2013.txt
Tito/box_13_rate_2_started_19-20-37_26.9.2013.txt
Tito/box_14_rate_2_started_12-3-28_23.9.2013.txt
Tito/box_15_rate_2_started_13-39-36_24.9.2013.txt
Tito/box_15_rate_2_started_15-15-57_19.9.2013.txt
Tito/box_15_rate_2_started_19-20-59_26.9.2013.txt
Tito/box_18_rate_2_started_13-41-55_24.9.2013.txt
Tito/box_18_rate_2_started_15-16-38_19.9.2013.txt
Tito/box_18_rate_2_started_19-21-22_26.9.2013.txt
